.datosGenerales {
	display: grid;
	grid-auto-columns: minmax(50%, 50%);
	padding: 15px;
}

.labelDatosGenerales {
	padding-top: 6%;
	padding-bottom: 0.5%;
	grid-column: 1; 
	grid-row:1;
	text-align: left;
	padding-left: 8%;
	font-weight: 700;
	font-family: inherit;
	color: #494949;
}

.nombre {
	grid-column: 1;
	grid-row: 2;
	padding: 15px;
	padding-bottom: 12%;
}

.edad {
	grid-column: 2;
	grid-row: 2;
	padding: 15px;
	padding-bottom: 12%;
}

.genero {
	grid-column: 1;
	grid-row: 3;
	padding-bottom: 6.7%;
}

.especie {
	grid-column: 2;
	grid-row: 3;
	padding-bottom: 6.7%;
}

.fechaRescate {
	grid-column: 1;
	grid-row: 4;
	padding: 6%;
}

.estatus {
	grid-column: 2;
	grid-row: 4;
	padding: 6%;
}




