@import "https://fonts.googleapis.com/css?family=Raleway:400,700|Raleway:300,400";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.RegistroAdopcion {
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	/* grid-gap: 10px; */
	grid-auto-columns: minmax(25%, 25%);
}

.NavBarRegistrosAdopcion {
	grid-column: 1 / 4;
	grid-row: 1;
}

.FormularioAdopcion {
	grid-column: 1 /4;
	grid-row: 3 / 10;
	display: grid;
	grid-auto-columns: minmax(50%, 50%);
	background-color: white;
	overflow-y: scroll;
	height: 80vh;
}

.alertAdop {
	grid-row: 1;
	grid-column: 1 / 3;
}

.DatosGeneralesAdopcion {
	grid-column: 1;
	grid-row: 2;
}

.DireccionAdopcion {
	grid-column: 2;
	grid-row: 2;
}

.labelDataGridAdopcion {
	text-align: left;
	padding-top: 2%;
	padding-left: 4%;
	padding-bottom: 2%;
	font-weight: 700;
	font-family: inherit;
	font-size: 120%;
	color: #494949;
}

.DataGridAdopcion {
	grid-column: 1 / 3;
	grid-row: 3;
}

.DGAArea {
	margin: 0 3% 0 4.5%;
	display: grid;
	padding-bottom: 5%;
}

.BotonesRegistroAdopcion {
	grid-column: 1 / 4;
	grid-row: 10;
	background-color: white;
	padding: .5% .5%;
}

.BarraLateralAdopcion {
	background-color: #8ac6d1;
	grid-column: 4;
	grid-row: 1 / 11;
	display: grid;
}

.idLabelAdopcion {
	grid-row: 1;
	grid-column: 1;
	background-color: transparent;
}

.fotoAdopcion {
	grid-row: 2;
	grid-column: 1;
	background-color: transparent;
}

/*Boton Restablecer*/
.BotonAdopcionRestablecer {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #f68012 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
.BotonAdopcionRestablecer:hover {
	color: #ffffff !important;
	background: #f68012;
	border-color: #f68012 !important;
	transition: all 0.4s ease 0s;
}

/*Boton Guardar*/
.BotonAdopcionGuardar {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #6ba70b !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
.BotonAdopcionGuardar:hover {
	color: #ffffff !important;
	background: #6ba70b;
	border-color: #6ba70b !important;
	transition: all 0.4s ease 0s;
}

.BotonCentralAdopcion {
	float: center;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

/*Botones transiciones*/
.BotonAdopcionTransicion {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #8c948a !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
.BotonAdopcionTransicion:hover {
	color: #ffffff !important;
	background: #8c948a;
	border-color: #8c948a !important;
	transition: all 0.4s ease 0s;
}

/*Boton siguiente expediente*/
.BotonSiguienteAdopcion {
	float: right;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

/*Boton expediente previo*/
.BotonAnteriorAdopcion {
	float: left;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
