@import "https://fonts.googleapis.com/css?family=Raleway:400,700|Raleway:300,400";

.agregarDG {
	grid-row: 1;
	grid-column: 1;
}

.agregarDG > button {
	float: right;
}

.headerDG {
	grid-row: 2;
	grid-column: 1;
	background-color: #b4cdd6;
	padding-right: 4%;
	margin-top: 2%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.headerDG > div {
	width: 20%;
	float: left;
	padding: 1% 0 1% 0;
}

.headerDG > div > label {
	color: white;
	font-family: "Raleway";
	font-size: 16px;
	font-weight: bold;
}

.rowDG {
	grid-column: 1;
	display: grid;
	background-color: #f1f1f1;
	border-bottom: 1px solid #949494;
	bottom: 0;
	grid-auto-columns: minmax(calc(100%/26), calc(100%/26));
}

.dg-col1 {
	grid-column: 1/6;
}
.dg-col2 {
	grid-column: 6/11;
}
.dg-col3 {
	grid-column: 11/16;
}
.dg-col4 {
	grid-column: 16/21;
}
.dg-col5 {
	grid-column: 21/26;
}

.dg-col1, .dg-col2, .dg-col3, .dg-col4, .dg-col5 {
	grid-row: 1;
}

.fechaDG:focus-within {
	outline: none !important;
	border-radius: 5%;
	align-self: center;
	margin: 2% 2% 2% 0;
	height: 90%;
	background: rgba(0, 0, 0, 0.04);
}

.fechaPicker {
	background-color: transparent;
	position: relative;
	margin: none;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	overflow: hidden;
	height: 100%;
	padding: 6%;
}

.fechaPicker > input {
    padding: 5%;
    font-family: "Raleway";
	font-size: 16px;
	font-weight: regular;
}

.inputFechaDG {
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	border: 0;
	font-family: inherit;
	font-size: 16px;
	font-weight: 400;
	background: rgba(0, 0, 0, 0);
	color: #000;
	text-align: center;
}

.inputFechaDG:focus {
	outline: none !important;
	/* border:1px solid rgb(196, 196, 196); */
	border-radius: 5%;
}

.botonBorrarDG {
	grid-row: 1;
	grid-column: 26/27;
	align-self: center;
}

.botonBorrarDG > button {
    border: none !important;
    background-color: transparent;
}

.botonBorrarDG > button:hover {
	background-color: transparent;
	border: none !important;
}

.botonBorrarDG > button > i:hover {
	color: #2c00cc;
    font-size: 160%;
    outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

.botonBorrarDG > button:active {
    outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

.botonBorrarDG > button > i {
	font-size: 140%;
}

.rowDG > * {
	margin: 1% 2% 1% 0;
}

.rowDG > * > TextArea {
	width: 100%;
	resize: none;
	box-sizing: border-box;
	padding: 0 2% 0 2%;
	background-color: transparent;
	text-align: center;
	outline: none !important;
    border: 0px solid rgb(196, 196, 196);
    font-family: "Raleway";
	font-size: 16px;
	font-weight: regular;
}

.rowDG > * > TextArea:focus {
	outline: none !important;
	background: rgba(0, 0, 0, 0.04);
}

.rowDG:hover {
	background-color: #d3e4eb;
}

.agreDGrDG > button {
	width: 16%;
	height: 5%;
	background: #f3f0f1;
	position: relative;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	padding: 1% 2% 1% 2%;
}


.agreDGrDG > button span > i {
	margin-left: 2%;
}

.agreDGrDG > button span {
	font-family: "Raleway";
	font-size: 16px;
	font-weight: semibold;
}

.agreDGrDG > button {
	box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
		6px 6px 10px rgba(0, 0, 0, 0.2);
	color: #6f6cde;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
.agreDGrDG > button:hover {
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
	opacity: 0.8;
	box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
		6px 6px 10px rgba(0, 0, 0, 0.2);
}
.agreDGrDG > button:active {
	opacity: .85;
	box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
		inset 8px 8px 16px rgba(0, 0, 0, 0.1);
	color: #009657;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
