@import "https://fonts.googleapis.com/css?family=Raleway:400,700|Raleway:300,400";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.RegistroMedico {
	display: grid;
	grid-auto-columns: minmax(25%, 25%);
	font-family: "Raleway";
}

.NavBarRegistrosMedico {
	grid-column: 1 / 4;
	grid-row: 1;
}

.headerDiagnostico {
	text-align: left;
	padding-left: 20%;
	padding-top: 12%;
	font-weight: 700;
	font-family: inherit;
	font-size: 120%;
	color: #494949;
}

.headerEsterilizacion {
	text-align: left;
	padding-left: 8%;
	padding-top: 6%;
	padding-bottom: 5%;
	font-weight: 700;
	font-family: inherit;
	font-size: 120%;
	color: #494949;
}

.FormularioMedico {
	grid-column: 1 / 4;
	grid-row: 3 / 10;
	display: grid;
	grid-auto-columns: minmax(50%, 50%);
	background-color: #e0ece4;
}

.BotonesRegistroMedico {
	grid-column: 1 / 4;
	grid-row: 10;
	background-color: #e0ece4;
	
}

.BarraLateralMedico {
	background-color: #89c9b8;
	grid-column: 4;
	grid-row: 1 / 11;
	display: grid;
}

.idLabelMedico {
	padding: 3%;
	grid-row: 1;
	grid-column: 1;
	background-color: transparent;
}

.fotoMedico1 {
	padding: 3%;
	grid-row: 2;
	grid-column: 1;
	background-color: transparent;
}

.fotoMedico2 {
	padding: 3%;
	grid-row: 3;
	grid-column: 1;
	background-color: transparent;
}

.fotoMedico3 {
	padding: 3%;
	grid-row: 4;
	grid-column: 1;
	background-color: transparent;
}

/*Bloques*/
.diagnostico {
	grid-column: 1;
	grid-row: 1;
}

#diagnostico {
	display: grid;
	grid-auto-columns: minmax(50%, 50%);
}

#bloque1Diag {
	grid-column: 1;
	grid-row: 2;
	display: grid;
	padding-top: 10%;
}

#bloque2Diag {
	grid-column: 2;
	grid-row: 2;
	display: grid;
	padding-top: 10%;
}

#bloqueOtro {
	grid-column: 2;
	grid-row: 3;
	padding-left: 20%;
	padding-top: 5%;
	padding-bottom: 20%;
}

#row-diag {
	display: grid;
	grid-auto-columns: minmax(50%, 50%);
	padding: 5%;
}

.cb-diag {
	grid-column: 1;
	grid-row: 1;
}

#lb-diag {
	grid-column: 2;
	grid-row: 1;
	display: flex;
	align-items: center;
}

.esterilizacion {
	grid-column: 2;
	grid-row: 1;
	display: grid;
}

.labelEsterilizado {
	grid-column: 1;
	grid-row: 1;
	padding-bottom: 2.5%;
}

.inputEsterilizado {
	grid-column: 1;
	grid-row: 2;
	padding-bottom: 5%;
}

.labelCitaEsterilizacion {
	grid-column: 1;
	grid-row: 3;
	padding-bottom: 2.5%;
}

.inputCitaEsterilizacion {
	grid-column: 1;
	grid-row: 4;
	padding-bottom: 5%;
}

.fechaEsterilizacion {
	grid-column: 1;
	grid-row: 5;
	padding-bottom: 5%;
}

.headerCartillaVacunacion {
	text-align: left;
	padding-left: 3%;
	font-weight: 700;
	font-family: inherit;
	color: #494949;
	padding-bottom: 1%;
	font-size: 120%;
}

.cartillaVacunacion {
	grid-column: 1 / 3;
	grid-row: 2;
	display: grid;
	text-align: center;
	color: #f0ece3;
	font-weight: 600;
	cursor: default;
	font-size: 14px;
	outline: none;
	padding-left: 10px;
}

.cartillaVacunacion > div {
	padding: 10px;
}

.cb-cv {
	grid-row: 1;
	padding-top: 10px;
}

#lb {
	padding-right: 10px;
	padding-top: 10px;
	grid-row: 2;
	color: #494949;
}

#dt {
	padding-top: 10px;
	grid-row: 3;
	padding-right: 10px;
}

.puppy {
	grid-row: 1;
	grid-column: 1;
}

.refuerzoPuppy {
	grid-row: 1;
	grid-column: 2;
}

.multiple {
	grid-row: 1;
	grid-column: 3;
}

.refuerzoMultiple {
	grid-row: 1;
	grid-column: 4;
}

.rabia {
	grid-row: 1;
	grid-column: 5;
}

.headerTratamiento {
	padding-top: 3%;
	text-align: left;
	padding-left: 5%;
	padding-bottom: 2%;
	font-weight: 700;
	font-family: inherit;
	font-size: 120%;
	color: #494949;
}

.tratamiento {
	grid-column: 1 / 3;
	grid-row: 3;
}

.DGAArea {
	margin: 0 3% 0 4.5%;
	display: grid;
	padding-bottom: 5%;

}

/*Boton Restablecer*/
.BotonMedicoRestablecer {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #e42d2d !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
.BotonMedicoRestablecer:hover {
	color: #ffffff !important;
	background: #e42d2d;
	border-color: #e42d2d !important;
	transition: all 0.4s ease 0s;
}

/*Boton Guardar*/
.BotonMedicoGuardar {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #6ba70b !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
.BotonMedicoGuardar:hover {
	color: #ffffff !important;
	background: #6ba70b;
	border-color: #6ba70b !important;
	transition: all 0.4s ease 0s;
}

.BotonCentralMedico {
	float: center;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

/*Botones transiciones*/
.BotonMedicoTransicion {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #8c948a !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
.BotonMedicoTransicion:hover {
	color: #ffffff !important;
	background: #8c948a;
	border-color: #8c948a !important;
	transition: all 0.4s ease 0s;
}

/*Boton siguiente expediente*/
.BotonSiguienteMedico {
	float: right;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

/*Boton expediente previo*/
.BotonAnteriorMedico {
	float: left;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
