@import "https://fonts.googleapis.com/css?family=Raleway:400,700|Raleway:300,400";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.RegistroHT {
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	/* grid-gap: 10px; */
	grid-auto-columns: minmax(25%, 25%);
}

.NavBarRegistrosHT {
	grid-column: 1 / 4;
	grid-row: 1;
}

.FormularioHT {
	grid-column: 1 /4;
	grid-row: 3 / 10;
	display: grid;
	grid-auto-columns: minmax(50%, 50%);
	background-color: white;
	overflow-y: scroll;
	height: 80vh;
}

.alertHT {
	grid-row: 1;
	grid-column: 1 / 3;
}

.contactoHT {
	grid-column: 1;
	grid-row: 2;
}

.direccionHT {
	grid-column: 2;
	grid-row: 2;
}

.headerDataGridHT {
	text-align: left;
	padding-top: 1.8%;
	padding-left: 4%;
	padding-bottom: 2%;
	font-weight: 700;
	font-family: inherit;
	font-size: 120%;
	color: #494949;
}

.dataGridHT {
	grid-column: 1 / 3;
	grid-row: 3;
}

.BotonesRegistroHT {
	grid-column: 1 / 4;
	grid-row: 10;
	background-color: white;
	padding: .5% .5%;
}

.BarraLateralHT {
	background-color: #8ac6d1;
	grid-column: 4;
	grid-row: 1 / 11;
	display: grid;
}

.idLabelHogarTemporal {
	grid-row: 1;
	grid-column: 1;
	background-color: transparent;
}

.fotoHogarTemporal {
	grid-row: 2;
	grid-column: 1;
	background-color: transparent;
}

/*Boton Restablecer*/
.BotonHTRestablecer {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #e42d2d !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
.BotonHTRestablecer:hover {
	color: #ffffff !important;
	background: #e42d2d;
	border-color: #e42d2d !important;
	transition: all 0.4s ease 0s;
}

/*Boton Guardar*/
.BotonHTGuardar {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #6ba70b !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
.BotonHTGuardar:hover {
	color: #ffffff !important;
	background: #6ba70b;
	border-color: #6ba70b !important;
	transition: all 0.4s ease 0s;
}

.BotonCentralHT {
	float: center;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

/*Botones transiciones*/
.BotonHTTransicion {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #8c948a !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
.BotonHTTransicion:hover {
	color: #ffffff !important;
	background: #8c948a;
	border-color: #8c948a !important;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

/*Boton siguiente expediente*/
.BotonSiguienteHT {
	float: right;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

/*Boton expediente previo*/
.BotonAnteriorHT {
	float: left;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
