@import "https://fonts.googleapis.com/css?family=Raleway:400,700|Raleway:300,400";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.RegistroMedico {
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	/* grid-gap: 10px; */
	grid-auto-columns: minmax(25%, 25%);
	font-family: "Raleway";
}

.NavBarRegistrosMedico {
	grid-column: 1 / 4;
	grid-row: 1;
}

.FormularioMedico {
	grid-column: 1 /4;
	grid-row: 3 / 10;
	display: grid;
	grid-auto-columns: minmax(50%, 50%);
	background-color: #b5cfd8;
}

.BotonesRegistroMedico {
	grid-column: 1 / 4;
	grid-row: 10;
	background-color: #dddddd;
}

.BarraLateralMedico {
	background-color: #0072bb;
	grid-column: 4;
	grid-row: 1 / 11;
}

/*Bloques*/
.diagnostico {
	grid-column: 1;
	grid-row: 1;
	background-color: green;
}

.esterilizacion {
	grid-column: 2;
	grid-row: 1;
	background-color: #e42d2d;
}

.cartillaVacunacion {
	grid-column: 1 / 3;
	grid-row: 2;
	display: grid;
	text-align: center;
	color: #f0ece3;
	font-weight: 600;
	cursor: default;
	font-size: 14px;
	outline: none;
	padding-left: 10px;
}

.cartillaVacunacion > div {
	padding: 10px;
}

.cb {
	grid-row: 1;
	padding-top: 10px;
}

#lb {
	padding-right: 10px;
	padding-top: 10px;
	grid-row: 2;
}

#dt {
	padding-top: 10px;
	grid-row: 3;
	padding-right: 10px;
}

.puppy {
	grid-row: 1;
	grid-column: 1;
}

.refuerzoPuppy {
	grid-row: 1;
	grid-column: 2;
}

.multiple {
	grid-row: 1;
	grid-column: 3;
}

.refuerzoMultiple {
	grid-row: 1;
	grid-column: 4;
}

.rabia {
	grid-row: 1;
	grid-column: 5;
}

.tratamiento {
	grid-column: 1 / 3;
	grid-row: 3;
	background-color: aqua;
}

/*Boton Restablecer*/
.BotonMedicoRestablecer {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #e42d2d !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}
.BotonMedicoRestablecer:hover {
	color: #ffffff !important;
	background: #e42d2d;
	border-color: #e42d2d !important;
	transition: all 0.4s ease 0s;
}

/*Boton Guardar*/
.BotonMedicoGuardar {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #6ba70b !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}
.BotonMedicoGuardar:hover {
	color: #ffffff !important;
	background: #6ba70b;
	border-color: #6ba70b !important;
	transition: all 0.4s ease 0s;
}

.BotonCentralMedico {
	float: center;
}

/*Botones transiciones*/
.BotonMedicoTransicion {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #8c948a !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}
.BotonMedicoTransicion:hover {
	color: #ffffff !important;
	background: #8c948a;
	border-color: #8c948a !important;
	transition: all 0.4s ease 0s;
}

/*Boton siguiente expediente*/
.BotonSiguienteMedico {
	float: right;
}

/*Boton expediente previo*/
.BotonAnteriorMedico {
	float: left;
}
