.filtroHogarTemporal {
    display: grid;
    grid-auto-columns: minmax(50%, 50%);
}

.filtroTipoHogar {
    grid-column: 1;
    padding: 0 30%;

}

.filtroRangoFechaHT {
    grid-column: 2;
    align-items: center;
    align-content: center;
}

.fInicio {
    float: left;
    padding: 0 1.5% 0 18%;
}

.fFinal {
    float: left;
}

