.filtroExpedienteMedico {
    display: grid;
    grid-auto-columns: minmax(calc(100%/14), calc(100%/14));
}

.filtroVacunas {
    grid-column: 1 / 11;
}

.filtroEsterilizado {
    padding-left: 5%;
    grid-column: 11 / 15;

}

.filtroDiagnostico {
    grid-column: 1 / 11;
    grid-row: 2;
    padding-top: 1%;
}
