@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");

.filtroGlobal {
	display: grid;
	grid-auto-columns: minmax(9%, 9%);
	padding: 1% 1% 1% 5%;
	--main-color: ‎#FFF8E7;
}

.barraBusqueda {
	background-color: var(--main-color);
	grid-column: 1 / 4;
	padding: 0% 0% 0% 5%;
	display: flex;
	flex-direction: column;
}

.seleccionarBusqueda {
	display: grid;
	grid-auto-columns: minmax(11%, 11%);
	grid-column: 4 / 8;
}

.ordenarPor {
	grid-column: 8 / 12;
	align-self: center;
	align-items: center;
	display: grid;
	grid-auto-columns: minmax(20%, 20%);
}

.ordenarDrop {
	grid-column: 1 / 5;
	align-self: center;
	align-items: center;
	padding: 0 5% 0 50%;
	display: grid;
	grid-auto-columns: minmax(100%, 100%);

}

.ordenarToggle {
	grid-column: 5;
}

.ordenarToggle > * {
	float: left;
}

.dropdownBusqueda {
	grid-column: 1 / 6;
	height: 100%;
	width: 100%;
}

.search__input {
	width: 100%;
	height: 100%;
	padding: 0% 0 0% 15%;

	background-color: transparent;
	transition: transform 250ms ease-in-out;
	font-size: 16px;
	line-height: 100%;

	color: #575756;
	background-color: transparent;
	/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 5% 70%;
	background-position: 5% center;
	border-radius: 1.1rem 0 0 1.1rem;
	border: 1px solid #679b9b;
	border-width: 1px 0px 1px 1px;
	transition: all 250ms ease-in-out;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.search__input:hover,
.search__input:focus {
	background-color: rgba(87, 87, 86, 0.15);
	outline: 0;
	border: 1px solid transparent;
	border-bottom: 1px solid #575756;
	border-radius: 0;
	background-position: 3% center;
}

.search__input::placeholder {
	color: rgba(87, 87, 86, 0.8);
	letter-spacing: 1.5px;
	padding-left: 0%;
}

/* button styles !!!YOU NEED THEM 
  !!!ALSO YOU NEED TO ADD FONTWESOME */
.effect {
	text-align: center;
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: #fff;
	text-transform: capitalize;
	/* background-color: - add your own background-color */
	font-family: "Raleway";
	/* put your font-family */
	font-size: 16px;
	padding: 5% 5%;
	width: 50%;
	border-radius: 0 1.1rem 1.1rem 0;
	overflow: hidden;
	cursor: pointer;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

/* effect-1 styles */
.effect.effect-1 {
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.effect.effect-1:before {
	content: "\f178";
	font-family: FontAwesome;
	font-size: 16px;
	position: absolute;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	right: 0;
	top: 0;
	opacity: 0;
	height: 100%;
	width: 30%;
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.effect.effect-1:hover {
	text-indent: -25%;
}
.effect.effect-1:hover:before {
	opacity: 1;
	text-indent: 0px;
}

.orderBtn {
	border: none; 
	font-size: 16px; 
	cursor: pointer; 
	margin: 0% 1% 0% 3%;
	padding: 5%;
	color: black;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

.orderBtn:hover {
	background-color: rgb(219, 219, 219);
}
.orderBtn:active > i {
	transform: rotate(180deg);
	transition: all 0.3s linear 0s;
}

.orderDesc {
	transform: rotate(180deg);
}
