.filtroAdopcion {
    display: grid;
    grid-auto-columns: minmax(50%, 50%);
    background-color: rgba(0, 0, 0, 0.493);
    padding: 2% 3%;
    border-radius: 1.2em;
}

.filtroMedioAdopcion {
    grid-column: 1;
    padding-right: 5%;
}

.filtroRangoFechaAdopcion {
    grid-column: 2;

}

.fInicio {
    float: left;
    padding: 0 1.5% 0 18%;
}

.fFinal {
    float: left;
}

