.filtroHogarTemporal {
    display: grid;
    grid-auto-columns: minmax(50%, 50%);
    background-color: rgba(0, 0, 0, 0.493);
    padding: 2% 3%;
    border-radius: 1.2em;
}

.filtroTipoHogar {
    grid-column: 1;
    padding: 0 30%;
}

.filtroRangoFechaHT {
    grid-column: 2;
}



