.filtroExpedienteMedico {
    display: grid;
    grid-auto-columns: minmax(calc(100%/7), calc(100%/3));
    grid-column-gap: 1em;
    padding-right: 7.5%;

}

.filtroDiagnostico {
    grid-column: 1 / 4;
    grid-row: 1;
}


.filtroVacunas {
    grid-column: 4 / 7;
    grid-row: 1;

}

.filtroEsterilizado {
    grid-column: 7;
    grid-row: 1;

}

