.filtroGeneral {
    display: grid;
    grid-auto-columns: minmax(calc(100%/14), calc(100%/14));
    background-color: rgba(0, 0, 0, 0.493);
    padding: 2% 3%;
    border-radius: 1.2em;
}

.filtroGenero {
    grid-column: 1 / 4;
    padding-right: 5%;
    display: grid;
    grid-auto-columns: minmax(100%, 100%);
}

.filtroEspecie {
    grid-column: 4 / 8;
    padding-right: 3.75%;
    display: grid;
    grid-auto-columns: minmax(100%, 100%);


}

.filtroEstatus {
    grid-column: 8 / 15;
    display: grid;
    grid-auto-columns: minmax(100%, 100%);
}

