.filtroExpedienteMedico {
    display: grid;
    grid-auto-columns: minmax(calc(100%/7), calc(100%/3));
    grid-column-gap: 1em;
    padding: 2% 3%;
    padding-right: 7.5%;
    background-color: rgba(0, 0, 0, 0.493);

    border-radius: 1.2em;

}

.filtroDiagnostico {
    grid-column: 1 / 4;
    grid-row: 1;
}


.filtroVacunas {
    grid-column: 4 / 7;
    grid-row: 1;

}

.filtroEsterilizado {
    grid-column: 7;
    grid-row: 1;

}

