.subfiltros {
    padding: 0% 5% 1% 5%;
}

.nombreFiltro {
    grid-row: 1;
    font-family: "Raleway";
    font-size: 1.2em;
    padding: .75vh 0;
    color: white;
}

.multiselectFiltro {
    display: grid;
    grid-row: 2;
    padding-bottom: .35vh;
}

.fInicio {
    grid-row: 1;
    grid-column: 1;
    text-align: right;
    padding-right: 2.5%;
}   

.fFinal {
    grid-row: 1;
    grid-column: 2;
    text-align: left;
    padding-left: 2.5%;
}

