@import "https://fonts.googleapis.com/css?family=Raleway:400,700|Raleway:300,400";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.RegistroGeneral {
	display: grid;
	grid-auto-columns: minmax(25%, 25%);
}

.NavBarRegistrosGeneral {
	grid-column: 1 / 4;
	grid-row: 1;
}

.FormularioGeneral {
	grid-column: 1 /4;
	grid-row: 3 / 10;
	display: grid;
	grid-auto-columns: minmax(50%, 50%);
	background-color: white;
}

.alertRG {
	grid-row: 1;
	grid-column: 1 / 3;
}

.DatosGenerales {
	grid-column:1;
	grid-row:2;
}

.Rescatistas {
	grid-column: 2;
	grid-row:3;
	display: grid;
	grid-auto-columns: minmax(100%,100%);
}

.DireccionGeneral {
	grid-column: 2;
	grid-row:2;
}

.SenasParticulares {
	grid-column: 1;
	grid-row: 3;
	padding: 5%;
}

.BotonesRegistroGeneral {
	grid-column: 1 / 4;
	grid-row: 10;
	padding: .5% .5%;
	background-color:  white;
	
	
}

.BarraLateralGeneral {
	background-color: #8ac6d1;
	grid-column: 4;
	grid-row: 1 / 11;
	display: grid;
}



.idLabelGeneral {
	grid-row: 1;
	grid-column: 1;
	background-color: transparent;
}

.fotoGeneral {
	grid-row: 2;
	grid-column: 1;
	background-color: transparent;
}

/*Boton Restablecer*/
.BotonGeneralRestablecer {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #f68012 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
.BotonGeneralRestablecer:hover {
	color: #ffffff !important;
	background: #f68012;
	border-color: #f68012 !important;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

.BotonGeneralEliminar {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #e42d2d !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
.BotonGeneralEliminar:hover {
	color: #ffffff !important;
	background: #e42d2d;
	border-color: #e42d2d !important;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

/*Boton Guardar*/
.BotonGeneralGuardar {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #6ba70b !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
.BotonGeneralGuardar:hover {
	color: #ffffff !important;
	background: #6ba70b;
	border-color: #6ba70b !important;
	transition: all 0.4s ease 0s;
}

.BotonCentralGeneral {
	float: center;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

/*Botones transiciones*/
.BotonGeneralTransicion {
	color: #494949 !important;
	font-family: "Raleway";
	font-weight: bold;
	border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #8c948a !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
.BotonGeneralTransicion:hover {
	color: #ffffff !important;
	background: #8c948a;
	border-color: #8c948a !important;
	transition: all 0.4s ease 0s;
}

/*Boton siguiente expediente*/
.BotonSiguienteGeneral {
	float: right;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

/*Boton expediente previo*/
.BotonAnteriorGeneral {
	float: left;
	outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}
