@import "https://fonts.googleapis.com/css?family=Raleway:400,700|Raleway:300,400";

.headerRescatistas {
	padding-top: 6%;
	padding-bottom: 0.5%;
	grid-column: 1; 
	grid-row:1;
	text-align: left;
	padding-left: 5%;
	font-weight: 700;
	font-family: inherit;
	font-size: 120%;
	color: #494949;
}

.gridForm {
	display: grid;
	grid-auto-columns: minmax(100%,100%);
	padding: 7% 10%;
}
.rescatistaForm {
    grid-row: 1;
	grid-column: 1;
}

.rowRescatista {
	grid-column: 1;
	display: grid;
	background-color: #f1f1f1;
	border-bottom: 1px solid #949494;
	grid-auto-columns: minmax(10%,10%);
	bottom: 0;
	padding: 1.5%;
}

.rowRescatista:hover {
	background-color: #d3e4eb;
}

.rowRescatistaText {
    grid-row: 1 ;
	grid-column: 1 / 10;
}

.rowRescatistaBorrar{
    grid-row: 1;
	grid-column: 10;
}

.botonBorrarRescatista {
	align-self: center;
}

.botonBorrarRescatista > button {
    border: none !important;
    background-color: transparent;
}

.botonBorrarRescatista > button:hover {
	background-color: transparent;
	border: none !important;
}

.botonBorrarRescatista > button > i:hover {
	color: #2c00cc;
    font-size: 140%;
    outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

.botonBorrarRescatista > button:active {
    outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

.botonBorrarRescatista > button > i {
	font-size: 140%;
}