.bta {
    user-select: none;
}

.bta::active {
    background-color: pink;
}

.bta:focus {
    background-color: pink;
}

@use postcss-color-function;
@use postcss-nested;
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");

/* Base styling */

.search {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
}

.searchInput {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;

    color: #575756;
    background-color: transparent;

    background-position: 95% center;
    border-radius: 50px;
    border: 3px solid #ff8b88;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.pholder {
    color: color(#575756 a(0.8));
    letter-spacing: 1.5px;
}
