.consulta {
    background-color: white;
    display: grid;
    min-height: 100vh;
}

.filtros {
    grid-row: 1;
    display: grid;
}

.gridConsulta {
    grid-row: 2;
    display: grid;
    padding: 0 5%;
}
