.consulta {
    padding-top: 1%;
	position: fixed;
	top: 50px;
	bottom: 0;
    min-width: 100%;
    max-height: 100%;
    background-image: url("/9.png");
    overflow-y: scroll;
}

.filtros {
	grid-row: 1;
	display: grid;
}

.gridConsulta {
	grid-row: 2;
	display: grid;
	padding: 0 5%;
}
