@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.RegistroAdopcion {
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	/* grid-gap: 10px; */
	grid-auto-columns: minmax(25%, 25%);
}

.NavBarRegistrosAdopcion {
	grid-column: 1 / 4;
	grid-row: 1;
}

.FormularioAdopcion {
	grid-column: 1 /4;
	grid-row: 3 / 10;
	background-color: #b5cfd8;
}

.BotonesRegistroAdopcion {
	grid-column: 1 / 4;
	grid-row: 10;
	background-color: #dddddd;
}

.BarraLateralAdopcion {
	background-color: #0072bb;
	grid-column: 4;
	grid-row: 1 / 11;
}

/*Boton Restablecer*/
.BotonAdopcionRestablecer {
    color: #494949 !important;
    font-family: "Montserrat";
    font-weight: bold;
    border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #e42d2d !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}
.BotonAdopcionRestablecer:hover {
	color: #ffffff !important;
	background: #e42d2d;
	border-color: #e42d2d !important;
	transition: all 0.4s ease 0s;
}

/*Boton Guardar*/
.BotonAdopcionGuardar {
    color: #494949 !important;
    font-family: "Montserrat";
    font-weight: bold;
    border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #6ba70b !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}
.BotonAdopcionGuardar:hover {
	color: #ffffff !important;
	background: #6ba70b;
	border-color: #6ba70b !important;
	transition: all 0.4s ease 0s;
}

.BotonCentralAdopcion{
	float:center;
}

/*Botones transiciones*/
.BotonAdopcionTransicion {
    color: #494949 !important;
    font-family: "Montserrat";
    font-weight: bold;
    border-radius: 50px;
	text-decoration: none;
	background: #ffffff;
	padding: 12px;
	border: 2px solid #8c948a !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}
.BotonAdopcionTransicion:hover {
	color: #ffffff !important;
	background: #8c948a;
	border-color: #8c948a !important;
	transition: all 0.4s ease 0s;
}

/*Boton siguiente expediente*/
.BotonSiguienteAdopcion{
	float: right;
}	

/*Boton expediente previo*/
.BotonAnteriorAdopcion{
	float:left;
}


