.adopcion {
	display: grid;
	grid-auto-columns: minmax(50%, 50%);
	padding: 15px;
}

.labelAdopcion {
	text-align: left;
	grid-column: 1;
	padding-left: 10%;
	padding-top: 6%;
	grid-row: 1;
	font-weight: 700;
	font-family: inherit;
	font-size: 120%;
	color: #494949;
}

.adoptante {
	grid-column: 1 / 3;
	grid-row: 2;
	padding: 3.3%;
}

.adoptado {
	grid-column: 1 / 2;
	grid-row: 3;
	padding: 6%;
}

.medioAdopcion {
	grid-column: 2 / 3;
	grid-row: 3;
	padding: 6%;
}

.telefonoAdopcion {
	grid-column: 1 / 3;
	grid-row: 4;
	padding: 3.3%;
}

.visitaDeAdopcion {
	padding: 6%;
	grid-column: 1;
	grid-row: 5;
}

.fechaAdopcion {
	padding: 6%;
	grid-column: 2;
	grid-row: 5;
}

.ajusteFecha, 
.ajusteFecha > div.react-datepicker-wrapper, 
.ajusteFecha > div > div.react-datepicker__input-container
.ajusteFecha > div > div.react-datepicker__input-container input {
   width: 100%;
}
