@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.menuUsuarioContainer {
    background-color: white;
    display: grid;
    height: 90vh;
    grid-template-columns: 30% 70%;
    font-family: FontAwesome, 'Raleway', sans-serif;
}

.sideBarContainer {
    grid-gap: 0;
    grid-row-gap: 1px;
    grid-template-rows: minmax(10vh,10vh);
    grid-row: 1;
    grid-column: 1;
    display: list-item;
    padding-top: 10vh;
    background-color: white;
}

.sideBarBlock {
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 40% 60%;
    cursor: pointer;
}

.sideBarIcon {
    grid-column: 1;
    text-align: left;
    padding-left: 18vh;
    padding-top: 2.5vh;
}

.sideBarBtn {
    grid-column: 2;
}

.dataUsuario {
    grid-row: 1;
    grid-column: 2;
    border-left: 1px solid rgb(202, 194, 194);
}

.btnMenuUsuario {
    background-color: Transparent;
    color: #cdc9c3;
    width: 100%;
    height: 100%;
    text-align:left;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.iconUsuario {
    color: #cdc9c3;
}

.btnMenuUsuario:focus {
    outline: none;
}

.btnLogout{ 
    margin-top: 31vh;
}


.bodMenuUsuario {
    background-color: #b5cfd8;
}

.item-amu {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    background-color: #b5cfd8;
}
.item-bmu {
    grid-column: 2;
    grid-row: 1;
    align-self: center;

    background-color: #b5cfd8;
}
.item-cmu {
    grid-column: 1/3;
    grid-row: 2;
    background-color: #e0e7eb;
    border-top: solid 1px;
    margin: 0;
}

.item-cmu2 {
    grid-column: 1/3;
    grid-row: 2;
    background-color: #b5cfd8;
    margin: 0;
}

.containerUs {
    display: grid;
    background-color: #b5cfd8;
    grid-auto-columns: minmax(50%, 50%);
}

.headerTablaUsuarios {
    display: inline-block;
    white-space: nowrap;
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
    font-weight: 700;
    font-family: inherit;
    font-size: 170%;
}


