.containerUserRG {
    margin-left: 10%;
}

.blockModal {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5vh;
}

.block1RG {
    grid-column: 1;
}

.block2RG {
    grid-column: 2;
}

.fotoUsuarioModal {
    border-radius: 2rem;
    cursor: pointer;
    height: 15vw;
    width: 15vw;
    margin-top: 15%;
    margin-left: 7%;
}

