.direccion {
    display: grid;
    grid-auto-columns: minmax(25%, 25%);
    padding: 15px;
}

.labelDireccion {
    padding-top: 3.4%;
    text-align:left;
    grid-column: 1 / 5;
    padding-left: 2%;
    grid-row: 1;
    font-weight: 700;
    font-family: inherit;
    color: rgba(0, 0, 0, 0.5);
}

.labelD {
    font-weight: 700;
    font-family: inherit;
    color: rgba(0, 0, 0, 0.7);
}

.calle {
	grid-column: 1 / 4;
	grid-row: 2;
	padding: 15px 15px 15px 0px;
}

.numero {
	grid-column: 4;
	grid-row: 2;
	padding: 15px 15px 15px 0px;
}

.colonia {
	grid-column: 1 / 5;
	grid-row: 3;
	padding: 15px 15px 15px 0px;
}

.municipio {
	grid-column: 1 / 5;
	grid-row: 4;
	padding: 15px 15px 15px 0px;
}
