.switch {
    position: relative;
    width: 210px;
    height: 40px;
    border: 1.5px solid rgb(189, 189, 189);
    color: rgb(189, 189, 189);
    font-size: 18px;
    border-radius: 15px;
}

.quality {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    line-height: 40px;
}
.quality:first-child label {
    border-radius: 9px 0 0 9px;
}
.quality:nth-child(2) label {
    border-radius: 0;
}
.quality:last-child label {
    border-radius: 0 10px 10px 0;
}
.quality label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    transition: transform 0.6s, color 0.6s, background-color 0.6s;
}
.quality input[type="radio"] {
    appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
}
.quality input[type="radio"]:focus {
    outline: 0;
    outline-offset: 0;
}
.quality input[type="radio"]:checked ~ label {
    background-color: rgb(76, 91, 221);
    color: white;
}
.quality input[type="radio"]:active ~ label {
    transform: scale(1.05);
}


.switch2 {
    position: relative;
    width: 217px;
    height: 40px;
    border: 1.5px solid rgb(189, 189, 189);
    color: rgb(189, 189, 189);
    font-size: 18px;
    border-radius: 15px;
}

.quality2 {
    display: inline-block;
    position: relative;
    width: 33.33333333333333%;
    height: 100%;
    line-height: 40px;
}

.quality2:first-child label {
    border-radius: 9px 0 0 9px;
}
.quality2:nth-child(2) label {
    border-radius: 0;
}
.quality2:last-child label {
    border-radius: 0 10px 10px 0;
}
.quality2 label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    transition: transform 0.6s, color 0.6s, background-color 0.6s;
}
.quality2 input[type="radio"] {
    appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
}
.quality2 input[type="radio"]:focus {
    outline: 0;
    outline-offset: 0;
}
.quality2 input[type="radio"]:checked ~ label {
    background-color: rgb(76, 91, 221);
    color: white;
}
.quality2 input[type="radio"]:active ~ label {
    transform: scale(1.05);
}



.switch3 {
    position: relative;
    width: 260px;
    height: 40px;
    border: 1.5px solid rgb(189, 189, 189);
    color: rgb(189, 189, 189);
    font-size: 18px;
    border-radius: 15px;
}

.quality3 {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    line-height: 40px;
}

.quality3:first-child label {
    border-radius: 9px 0 0 9px;
}
.quality3:nth-child(2) label {
    border-radius: 0;
}
.quality3:last-child label {
    border-radius: 0 10px 10px 0;
}
.quality3 label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    transition: transform 0.6s, color 0.6s, background-color 0.6s;
}
.quality3 input[type="radio"] {
    appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
}
.quality3 input[type="radio"]:focus {
    outline: 0;
    outline-offset: 0;
}
.quality3 input[type="radio"]:checked ~ label {
    background-color: rgb(76, 91, 221);
    color: white;
}
.quality3 input[type="radio"]:active ~ label {
    transform: scale(1.05);
}
