.form-field {
	display: block;
    margin-bottom: 5%;
}

.form-field__label {
	font-size: 16px;
	-webkit-transform: translateY(-14px);
	transform: translateY(-14px);
	display: flex;
	left: 0;
	margin: 0;
	padding: 18px 10px 0;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-family: 'Raleway';

}

.form-field__control {
	background: #b5cfd8;
	border-radius: 0 0 0 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.form-field__bar {
	border-bottom: 2px solid  #0077FF;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	width: 2%;
}

.form-field__input,
.form-field__textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	color: #333;
	display: block;
	font-size: 16px;
	margin-top: 24px;
	outline: 0;
	padding: 5%;
    width: 100%;
}
.form-field__input:-ms-input-placeholder ~ .form-field__label,
.form-field__textarea:-ms-input-placeholder ~ .form-field__label {
	font-size: 16px;
	transform: translateY(0);
}
.form-field__input:placeholder-shown ~ .form-field__label,
.form-field__textarea:placeholder-shown ~ .form-field__label {
	font-size: 16px;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.form-field__input:focus ~ .form-field__label,
.form-field__textarea:focus ~ .form-field__label {
	color:  #0077FF;
	font-size: 0.75rem;
	-webkit-transform: translateY(-14px);
    transform: translateY(-14px);

}
.form-field__input:focus ~ .form-field__bar,
.form-field__textarea:focus ~ .form-field__bar {
	border-bottom: 2px solid  #0077FF;
	-webkit-transform: scaleX(150);
    transform: scaleX(150);
    
}

.form-field__control:focus-within {
    background: rgba(0, 0, 0, 0.05);
}

.form-field__control:hover {
    background: rgba(0, 0, 0, 0.05);
}



