.infoTarjetaA {
    grid-column: 4 / 25;
    grid-row: 1;
    display: grid;
    grid-auto-columns: minmax(50%, 50%);
    padding: 0 2% 2% 2%;
}

.adoptanteTA {
    grid-row: 1;
    grid-column: 1;
}

.telefonoTA {
    grid-row: 1;
    grid-column: 2;
}

.adoptadoTA {
    grid-row: 2;
    grid-column: 1;
}

.medioAdopcionTA {
    grid-row: 2;
    grid-column: 2;
}

.fechaAdopcionTA {
    grid-row: 3;
    grid-column: 1;
}

.visitaAdopcionTA {
    grid-row: 3;
    grid-column: 2;
}

.direccionTA {
    grid-row: 4;
    grid-column: 1 / 3;
}